In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('dataset.csv')

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 17 columns):
Loan Status                     100000 non-null object
Current Loan Amount             100000 non-null int64
Term                            100000 non-null int64
Credit Score                    80846 non-null float64
Annual Income                   80846 non-null float64
Years in current job            95778 non-null float64
Home Ownership                  100000 non-null int64
Purpose                         100000 non-null int64
Monthly Debt                    100000 non-null float64
Years of Credit History         100000 non-null float64
Months since last delinquent    46859 non-null float64
Number of Open Accounts         100000 non-null int64
Number of Credit Problems       100000 non-null int64
Current Credit Balance          100000 non-null int64
Maximum Open Credit             99998 non-null float64
Bankruptcies                    99796 non-null float64
Tax Liens                       99990 non-null float64
dtypes: float64(9), int64(7), object(1)
memory usage: 13.0+ MB

In [4]:
dataset.dropna(inplace=True)

In [5]:
dataset.head()

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
2,Y,99999999,0,741.0,2231892.0,8.0,2,0,29200.53,14.9,29.0,18,1,297996,750090.0,0.0,0.0
6,Y,217646,0,730.0,1184194.0,0.0,0,0,10855.08,19.6,10.0,13,1,122170,272052.0,1.0,0.0
8,Y,548746,0,678.0,2559110.0,2.0,1,0,18660.28,22.6,33.0,4,0,437171,555038.0,0.0,0.0
10,Y,99999999,0,728.0,714628.0,3.0,1,0,11851.06,16.0,76.0,16,0,203965,289784.0,0.0,0.0
12,Y,99999999,0,740.0,776188.0,0.0,2,0,11578.22,8.5,25.0,6,0,134083,220220.0,0.0,0.0

In [6]:
dataset.reset_index(drop=True,inplace=True)

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36423 entries, 0 to 36422
Data columns (total 17 columns):
Loan Status                     36423 non-null object
Current Loan Amount             36423 non-null int64
Term                            36423 non-null int64
Credit Score                    36423 non-null float64
Annual Income                   36423 non-null float64
Years in current job            36423 non-null float64
Home Ownership                  36423 non-null int64
Purpose                         36423 non-null int64
Monthly Debt                    36423 non-null float64
Years of Credit History         36423 non-null float64
Months since last delinquent    36423 non-null float64
Number of Open Accounts         36423 non-null int64
Number of Credit Problems       36423 non-null int64
Current Credit Balance          36423 non-null int64
Maximum Open Credit             36423 non-null float64
Bankruptcies                    36423 non-null float64
Tax Liens                       36423 non-null float64
dtypes: float64(9), int64(7), object(1)
memory usage: 4.7+ MB

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
dataset.columns

Index(['Loan Status', 'Current Loan Amount', 'Term', 'Credit Score',
       'Annual Income', 'Years in current job', 'Home Ownership', 'Purpose',
       'Monthly Debt', 'Years of Credit History',
       'Months since last delinquent', 'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit', 'Bankruptcies', 'Tax Liens'],
      dtype='object')

In [13]:
X = dataset[['Current Loan Amount', 'Term', 'Credit Score', 'Annual Income', 'Years in current job', 'Home Ownership', 'Purpose', 'Monthly Debt', 'Years of Credit History', 'Months since last delinquent', 'Number of Open Accounts', 'Number of Credit Problems', 'Current Credit Balance', 'Maximum Open Credit', 'Bankruptcies', 'Tax Liens']]
y = dataset['Loan Status']

In [14]:
sc_X = StandardScaler()

In [15]:
sc_X.fit(X,y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [16]:
X = sc_X.transform(X)

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=24)

In [19]:
from sklearn.linear_model import LogisticRegression

In [20]:
logistic_classifier = LogisticRegression()

In [21]:
logistic_classifier.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [23]:
logistic_classifier.score(X_test,y_test)

0.8498284145504461

In [24]:
dataset.to_csv('clean_dataset.csv')

In [30]:
test_input = pd.read_csv('test.csv')

In [37]:
test_input

,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,99999999,0,741,2231892,8,2,0,29200.53,14.9,29,18,1,297996,750090,0,0

In [33]:
logistic_classifier.predict_proba(sc_X.transform(test_input))

array([[4.37203228e-04, 9.99562797e-01]])

In [34]:
logistic_classifier.predict(sc_X.transform(test_input))

array(['Y'], dtype=object)

In [35]:
logistic_classifier.decision_function(sc_X.transform(test_input))

array([7.73467512])

In [38]:
dataset[dataset['Loan Status']=='N'].head()

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
7,N,317108,1,687.0,1133274.0,8.0,1,0,9632.81,17.4,53.0,4,0,60287,126940.0,0.0,0.0
11,N,688468,1,682.0,1494616.0,0.0,1,0,14697.07,16.6,50.0,8,0,343995,843854.0,0.0,0.0
15,N,219692,1,6610.0,527839.0,10.0,1,0,14207.63,17.0,48.0,9,0,254277,379918.0,0.0,0.0
16,N,374176,1,652.0,1239199.0,10.0,0,1,5163.25,36.6,42.0,10,0,126350,415602.0,0.0,0.0
18,N,176198,0,736.0,1902090.0,10.0,0,0,28372.89,15.4,7.0,9,0,206872,620554.0,0.0,0.0